# Binaries
bin/
obj/

# Visual Studio stuff
.vscode/
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
# Bỏ qua các file cấu hình nhạy cảm
.env
appsettings.json
appsettings.Development.json
secrets.json
